.style{
    margin-top: 20px;
    margin-left: 50px;
    color: rgb(0, 0, 0);

}
.style-2{
    font-size: 20px;
    margin: 15px;
    margin-left: 0px;
}
.style-3{
    font-size: 20px;
    font-weight: bolder;
}
.buttons{
    background:rgb(69, 69, 211) ;
    color: white;
    margin: 30px;
    margin-left: 50px;
    border-radius: 5px;
    font-size: 25px;
}

.save{
    margin-top:10px ;
}
.percent{
    margin-top: 20px;
    margin-left: 20px;
    font-size: medium;
}
.button-2{ 
    margin-left: 20px;
    background:rgb(69, 69, 211) ;
    font-size: 20px;
    color: white;
}